.MuiAlert-standardError {
  color: var(--background-dark) !important;
  background-color: #f87171 !important;
  font-weight: bold !important;

  .MuiAlert-icon {
    color: var(--background-dark) !important;
  }
}

.MuiAlert-message {
  display: flex;
  align-items: center;
}
