.MuiCheckbox-root {
  margin-right: 0.25rem !important;

  &.p-0 {
    padding: 0 !important;
  }

  &.m-0 {
    margin: 0 !important;
  }

  &.color-primary {
    svg {
      fill: var(--primary-color);
    }
  }

  svg {
    font-size: 1.5rem !important;
  }
}

.MuiTouchRipple-root {
  display: none;
}

.MuiIconButton-colorSecondary {
  &:hover {
    background-color: transparent !important;
  }
}
