.MuiSvgIcon-root {
  font-size: 2rem !important;

  &.icon-sm {
    font-size: 1.5rem !important;
  }

  &.icon-xs {
    font-size: 1.25rem !important;
  }
}

.MuiListItemIcon-root {
  color: var(--headline) !important;
}
