.MuiInputBase-input,
.MuiIconButton-root {
  color: var(--headline) !important;
}

.MuiTextField-root {
  .MuiFormHelperText-root {
    color: var(--paragraph);
    filter: brightness(0.8);
  }
}

.MuiFilledInput-root {
  background-color: rgba(0, 0, 0, 0.2) !important;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
  }
}

.MuiInput-underline,
.MuiFilledInput-underline {
  &::before {
    border-bottom: 2px solid var(--background-light) !important;
  }

  &::after {
    border-bottom: 2px solid var(--primary-color) !important;
  }

  .MuiSelect-icon {
    color: var(--paragraph);
  }
}

.MuiFormLabel-root {
  color: var(--paragraph) !important;

  &.Mui-focused {
    color: var(--primary-color) !important;
  }
}
