.MuiTypography-root {
  color: var(--paragraph) !important;
}

.MuiDrawer-paperAnchorLeft {
  width: 50% !important;
  background-color: var(--background-dark) !important;

  .MuiSvgIcon-root {
    color: var(--primary-color);
  }
}

.MuiListItemIcon-root {
  min-width: 0 !important;
}
