.MuiTypography-root {
  color: var(--btn-text) !important;
}

.MuiDrawer-paperAnchorLeft {
  width: 50% !important;
  background-color: var(--background-light) !important;
}

.MuiListItemIcon-root {
  min-width: 0 !important;
}
