.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: var(--paragraph);
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
  border-radius: 4px;
}

.button svg {
  fill: var(--paragraph);
  display: inline-block;
}

.button:hover,
.button:focus {
  background: var(--background-light);
  outline: 0; /* reset for :focus */
}

.active {
  color: var(--primary-color);
}

.active svg {
  fill: var(--primary-color);
}
