.bi09khh {
  /* button wrapper */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi09khh:first-of-type,
.bi09khh:first-of-type .bc4rxid {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bc4rxid {
  /* button */
  background: var(--transparent);
  color: var(--paragraph);
  font-size: 18px;
  border: 0;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.bc4rxid svg {
  fill: var(--paragraph);
  display: inline-block;
}

.bc4rxid:hover,
.bc4rxid:focus {
  background: var(--background-light);
  outline: 0; /* reset for :focus */
}

.akzb7t5 {
  /* button active */
  background: var(--background-dark);
  color: var(--primary-color);
}

.akzb7t5 svg {
  fill: var(--primary-color);
}

.draftJsToolbar__separator__3U7qt {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: 24px;
  margin: 0 0.5em;
}
.t16lpgj {
  /* toolbar */
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
