.sent,
.received {
  max-width: 75%;
  > div {
    border-radius: 0.5rem;
  }
}

.sent {
  margin-left: auto;
  > div {
    background-color: var(--primary-color);
    border-bottom-right-radius: 0;
  }
}

.received {
  margin-right: auto;
  > div {
    background-color: var(--background-light);
    border-bottom-left-radius: 0;
  }
}
