@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

html {
  font-size: 13px;
}

@media (max-width: 1024px) {
  html {
    font-size: 92.3%; // 12px
  }

  *:hover {
    text-decoration: none !important;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 84.6%; // 14px
  }
}

:root {
  --primary-color: #7f5af0;
  --primary-color-hover: rgba(127, 90, 240, 0.75);
  --secondary-color: #e45858;
  --secondary-color-hover: rgba(228, 88, 88, 0.75);
  --background-dark: #16161a;
  --background-light: #242629;
  --btn-text: #fffffe;
  --headline: #fffffe;
  --paragraph: #94a1b2;
  --transparent: rgba(255, 255, 255, 0.02);
  --green: #2cb67d;
  --yellow: #ffd803;
  --red: rgb(200, 30, 30);
}

* {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif !important;
}

*:focus {
  outline: none !important;
}

body {
  min-height: 100vh;
  background-color: var(--background-dark);
  color: var(--paragraph);
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif !important;
  color: var(--headline);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: var(--primary-color-hover);
  cursor: pointer;
}

a:hover {
  color: var(--primary-color);
}

button.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--btn-text);
  padding: 6px 16px;
  border-radius: 15px;

  &.btn-sm {
    padding: 5.4px 14.4px;
    font-size: 0.9rem;
  }

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

button.btn-primary-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  color: var(--headline);
  padding: 6px 16px;
  border-radius: 15px;
  border: 2px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: var(--btn-text);
  }
}

button.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--btn-text);
  padding: 6px 16px;
  border-radius: 15px;

  &:hover {
    background-color: var(--secondary-color-hover);
  }
}
