@media (min-width: 640px) {
  header.header {
    background-color: var(--background-dark);
  }
}

header.header {
  .nav-link {
    cursor: pointer;

    &:hover {
      color: var(--headline);
    }

    &.active {
      border-bottom: 3px solid var(--primary-color);
    }
  }
}
