.cls-1,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-16,
.cls-19,
.cls-7,
.cls-8 {
  fill: none;
}
.cls-1 {
  stroke: #ffb000;
}
.cls-1,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-16,
.cls-19,
.cls-2,
.cls-7,
.cls-8 {
  stroke-miterlimit: 10;
}
.cls-1,
.cls-11,
.cls-12,
.cls-19,
.cls-2,
.cls-8 {
  stroke-width: 6px;
}
.cls-18,
.cls-2 {
  fill: #fff;
}
.cls-19,
.cls-2,
.cls-7 {
  stroke: #6562cf;
}

.cls-3 {
  fill: #ffb819;
}
.cls-4 {
  fill: #f49c00;
}
.cls-5 {
  fill: #dbdaff;
}
.cls-6 {
  fill: #c36f0b;
}
.cls-12,
.cls-13,
.cls-14,
.cls-16,
.cls-7,
.cls-8 {
  stroke-linecap: round;
}
.cls-7 {
  stroke-width: 7px;
}
.cls-8 {
  stroke: #fff;
}
.cls-9 {
  fill: #3f4d79;
}
.cls-10 {
  fill: #ffb000;
}
.cls-11,
.cls-12 {
  stroke: #f49c00;
}
.cls-13 .cls-14 {
  stroke: #b65a18;
}
.cls-13 {
  stroke-width: 4px;
}
.cls-14,
.cls-16 {
  stroke-width: 3px;
}
.cls-15 {
  fill: #b65a18;
}
.cls-16 {
  stroke: #3f4d79;
}
.cls-17 {
  fill: #c7bfff;
}
.cls-20 {
  fill: #e2e2ff;
}
