.bg-transparent {
  background-color: var(--transparent);
}

.bg-dark {
  background-color: var(--background-dark);
}

.bg-light {
  background-color: var(--background-light);
}

.bg-linear {
  background: linear-gradient(
    45deg,
    var(--background-dark),
    var(--background-light)
  );
}
