.b-bottom-light {
  border-bottom: 3px solid var(--background-light);
}

.b-bottom-dark {
  border-bottom: 2px solid var(--background-dark);
}

.b-bottom-transparent {
  border-bottom: 2px solid var(--transparent);
}
