.b-bottom-light {
  border-bottom: 3px solid var(--background-light);

  &.b-width-1px {
    border-bottom-width: 1px;
  }
}

.b-bottom-transparent {
  border-bottom: 3px solid var(--transparent);
}

.b-bottom-primary {
  border-bottom: 3px solid var(--primary-color) !important;
}

.b-right-primary {
  border-right: 3px solid var(--primary-color) !important;
}

.b-primary {
  border: 3px solid var(--primary-color) !important;
}

.b-secondary {
  border: 3px solid var(--secondary-color) !important;
}
