.b-bottom-light {
  border-bottom: 3px solid var(--background-light);
}

.b-bottom-dark {
  border-bottom: 2px solid var(--background-dark);
}

.b-bottom-transparent {
  border-bottom: 3px solid var(--transparent);
}

.b-bottom-primary {
  border-bottom: 3px solid var(--primary-color) !important;
}

.b-primary {
  border: 3px solid var(--primary-color) !important;
}

.b-secondary {
  border: 3px solid var(--secondary-color) !important;
}
