@media (min-width: 768px) {
  .md\:h-70vh {
    height: 70vh;
  }

  .md\:max-w-600px {
    max-width: 600px;
  }
}

@media (min-width: 640px) {
  .sm\:color-primary {
    color: var(--primary-color) !important;
  }

  .sm\:bg-transparent {
    background-color: var(--transparent) !important;
  }
}
