.color-primary {
  color: var(--primary-color);

  &.color-hover {
    &:hover {
      color: var(--primary-color-hover);
    }
  }
}

.color-secondary {
  color: var(--secondary-color);

  &.color-hover {
    &:hover {
      color: var(--secondary-color-hover);
    }
  }
}

.color-paragraph {
  color: var(--paragraph);

  &.color-hover {
    &:hover {
      filter: brightness(1.2);
    }
  }
}

.color-headline {
  color: var(--headline);
}

.color-bg-light {
  color: var(--background-light);
}

.color-startup {
  color: var(--primary-color);
}

.color-social_project {
  color: var(--green);
}

.color-junior_enterprise {
  color: var(--secondary-color);
}

.color-academic {
  color: var(--yellow);
}
