.color-primary {
  color: var(--primary-color);

  &.color-hover {
    &:hover {
      color: var(--primary-color-hover);
    }
  }
}

.color-secondary {
  color: var(--secondary-color);

  &.color-hover {
    &:hover {
      color: var(--secondary-color-hover);
    }
  }
}

.color-paragraph {
  color: var(--paragraph);

  &.color-hover {
    &:hover {
      filter: brightness(1.2);
    }
  }
}

.color-headline {
  color: var(--headline);
}

.color-bg-light {
  color: var(--background-light);
}

.color-btn-text {
  color: var(--btn-text);
}

.color-startup,
.color-feedback {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;

  &:hover {
    color: var(--btn-text);
    background-color: var(--primary-color);
    cursor: pointer;
  }
}

.color-social_project,
.color-suggestion {
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 20px;

  &:hover {
    color: var(--btn-text);
    background-color: var(--green);
    cursor: pointer;
  }
}

.color-academic,
.color-doubt {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 20px;

  &:hover {
    color: var(--btn-text);
    background-color: var(--secondary-color);
    cursor: pointer;
  }
}

.color-red {
  color: var(--red);
}
