.color-primary {
  color: var(--primary-color);

  &.color-hover {
    &:hover {
      color: var(--primary-color-hover);
    }
  }
}

.color-secondary {
  color: var(--secondary-color);

  &.color-hover {
    &:hover {
      color: var(--secondary-color-hover);
    }
  }
}
