@media (min-width: 1024px) {
  .color-headline-hover {
    &:hover {
      color: var(--headline);
    }
  }

  .color-primary-hover {
    &:hover {
      color: var(--primary-color);
    }
  }

  .color-red-hover {
    &:hover {
      color: var(--red);
    }
  }
}
