@media (min-width: 1024px) {
  .color-headline-hover {
    &:hover {
      color: var(--headline);
    }
  }

  .color-primary-hover {
    &:hover {
      color: var(--primary-color);
    }
  }

  .color-primary-hover-on-svg-child {
    &:hover {
      svg {
        color: var(--primary-color);
      }
    }
  }

  .color-secondary-hover {
    &:hover {
      color: var(--secondary-color);
    }
  }
}
