.profile-img-sm {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.profile-img-md {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  &.img-student {
    border: 3px solid var(--primary-color);

    ~ .icon {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 1.5rem !important;
      color: var(--primary-color);
    }
  }
  &.img-mentor {
    border: 3px solid var(--secondary-color);

    ~ .icon {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 1.5rem !important;
      color: var(--secondary-color);
    }
  }
}

.profile-img-lg {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;

  &.img-student {
    border: 3px solid var(--primary-color);

    ~ .icon {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 2rem !important;
      color: var(--primary-color);
    }
  }
  &.img-mentor {
    border: 3px solid var(--secondary-color);

    ~ .icon {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 2rem !important;
      color: var(--secondary-color);
    }
  }
}
